.main-container{
    display: flex;
   justify-content: center;
  }
  .list-container{
    list-style-type:none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
  
  }